*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.text1{
    font-family:"Macondo", cursive;
}
.text2{
    font-family:"Monserrat" , sans-serif;
}
.text3{
    font-family:"Times New Roman" , Arial, Helvetica, sans-serif;
}
.text4{
    font-family: "Haettenschweiler" , sans-serif;
}
.text5{
    font-family: "Verdana", sans-serif;
}

  


